*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.navbar{
    background-color: green;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}
.navbar a{
    color: white;
    padding: 10px 15px;
    font-size: 25px;
    font-weight: 600;
}
.active{
    background-color: black !important;
    color: white !important;
}